.auth-wrapper {
    margin-top: 90px;
    min-height: 90vh;
}

.auth {
    position: relative;
    top: 280px;
    left: 50%;
    max-width: 800px;
    background: Silver;
    transform: translate(-50%, -50%);
}

.auth-container {
    height: 400px;
    display: flex;
}

.field-text {
    font-size: 10px;
    color: #a7a7a7;
}

.auth-container-content {
    flex: 50%;
    background: white;
    text-align: center;
    display: flex;
    align-items: center;

    border-radius: 15px;
}

.auth-form h1 {
    letter-spacing: 0.5rem;
    color: #A89B8C;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: "Aguafina Script", Arial, Helvetica, sans-serif;
    padding: 24px;

}

.field {
    margin: 10px auto;
    padding: 5px;
    width: 75%;
    height: 25%;
    display: grid;
    grid-row-gap: 0.2rem;
}

.field input,
.field label {
    text-align: left;
}


.field>label,
.field>a {
    font-size: 12px;
    color: #a7a7a7;
}

.field input {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    padding: 6px;
}

.field a {
    text-align: right;
    text-decoration: none;
}

.auth-form {
    padding: 2px;
    width: 80%;
    overflow: hidden;
    margin: auto;
    padding: 2px;
    overflow: hidden;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container {
    border-radius: 15px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.411);
}

.registerSuggest {
    width: fit-content;
    margin: 0 auto;
    font-size: 20px;
}

.registerSuggest a {
    text-decoration: none;
    color: #A89B8C;
    font-weight: bold;
    font-size: 22px;
}