.Book {
	height: 500px;
	width: 800px;
	margin: 0 auto;
	border-radius: 7px 7px 7px 7px;
	-webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.info__picBox {
	float: left;
	height: 500px;
	width: 350px;
}

.info__picBox img {
	height: 500px;
	border-radius: 7px 0 0 7px;
}

.info__content {
	float: left;
	height: 420px;
	width: 450px;
	border-radius: 0 7px 10px 7px;
	background-color: #ffffff;
}

.info__text {
	height: 300px;
	width: 450px;
}

.info__text #title {
	margin: 0 0 0 38px;
	padding-top: 52px;
	font-size: 34px;
	color: #474747;
	font-weight: 600;
}

.info__text #info {
	margin-top: 20px;
	line-height: 35px;
	font-size: 20px;
	color: #474747;
	font-weight: lighter;
}