.Header {
    background-color: #A89B8C;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 10vh;
}

.header-wrapper {
    width: 85%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav__list li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.nav__list li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.nav__list li:hover::after{
    width: 100%;
}

.logo {
    width: 120px;
    cursor: pointer;
}

