.AddBook {
    margin: 0 auto;
    max-width: 1290px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex-direction: row;
}

.AddBook-content {
    display: flex;
    flex-direction: column;
    width: 43%;
}

.AddBook-uploadImg {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.AddBook-uploadImg-img-wrapper {
    margin-right: 160px;
    margin-left: 50px;
}

.AddBook-uploadImg-img {
    width: 488px;
    height: 350px;
}

.AddBook-uploadImg-progress {
    font-size: x-large;
}

.AddBook-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.AddBook-content-title {
    color: black;
}

.AddBook-text label {
    margin: 10px;
    display: contents;

}

.AddBook-text strong {
    background: #A89B8C;
    color: white;
    padding: 6px;
    width: 100%;
    margin: 15px 30px 5px 0px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.AddBook-text-input {
    padding: 5px;
    width: 100%;
    border: 2px solid gray;
    border-radius: 5px;
}

.AddBook-text-comment textarea {
    border: 4px dashed rgb(23 154 23);
    position: relative;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 100%;
    height: 160px;
    margin-top: 10px;
}

.AddBook-button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 20px;
}

.AddBook-uploadImg-title {
    color: black;
    margin-bottom: 15px;
    font-size: 30px;
}

/* VALIDATIONS */

.input-validation {
    color: red;
    display: none;
}

.show {
    display: block;
}