.App,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.submitBtn {
    margin-top: 10px;
    border: 2px solid #A89B8C;
    background: #A89B8C;
    border-radius: 25px;
    width: fit-content;
    padding: 5px 20px;
    color: white;
    font-weight: bold;
    align-self: center;
    font-size: 14px;
    transition: 0.5s;
    text-decoration: none;
}

.submitBtn:hover {
    cursor: pointer;
    color: #A89B8C;
    background-color: transparent;
}

.checkBox {
    color: gold;
    width: 18px;
    height: 28px;
    margin-left: 10px;
    position: relative;
    top: 7px;
    background: rgb(61 175 61);
    ;
}

.editBtn {
    margin-top: 10px;
    border: 2px solid #F8DE7E;
    background: #F8DE7E;
    border-radius: 25px;
    width: fit-content;
    padding: 5px 20px;
    color: white;
    font-weight: bold;
    align-self: center;
    font-size: 14px;
    transition: 0.5s;

}

.deleteBtn {
    margin-top: 10px;
    border: 2px solid red;
    background: red;
    border-radius: 25px;
    width: fit-content;
    padding: 5px 20px;
    color: white;
    font-weight: bold;
    align-self: center;
    font-size: 14px;
    transition: 0.5s;
}